.classpath
.settings
.project
*.log**
target
**/target/**
bin
.gradle/
maven-project/.metadata/
.idea
*.iml
.zz_ramdrive_initiated
.zz_ramdrive_sync_is_running
*pom.xml.versionsBackup
*pom.xml.releaseBackup
*release.properties
